@import './mixins';

.root {
  width: 100vw;
  margin-bottom: 30px;
  @include breakpoint('phone') {
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      gap: 20px;
  }
  @include breakpoint('phone') {
      // display: flex;
      // gap: 20px;
      margin-block: 60px;
    }
    @include breakpoint('desktop-lg') {
      margin-block: 0;
      height: 100vh;
      margin-bottom: 0;
      justify-content: center;
      align-items: center;
      padding: 60px 0 0;
      gap: 50px;
  }
}
.img {
    width: 100vw;
    height: 100vw;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        position: absolute;
        }
    @include breakpoint('phone'){
      flex-basis: 300px;
      max-height: 300px;
    }
    @include breakpoint('tablet') {
        flex-basis: 400px;
        max-height: 400px;
    }
    @include breakpoint('desktop-lg') {
        flex-basis: 450px;
        max-height: 450px;
        margin-left: auto;
        margin-bottom: 0;
        padding-inline: 0;
    }
    @include breakpoint('desktop-xl'){
        flex-basis: 600px;
        max-height: 600px;
    }
}
.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    display: none;
    opacity: 0;
    font-size: 40px;
    background: rgba(#000000, 0.1);
    height: 100%;
    width: 30%;
    transition: opacity ease-in .3s;
  }
  &:hover > svg{
    opacity: 1;
  }
  @include breakpoint('tablet'){
    svg {
      display: flex;
    }
  }
}
.btnRight {
  right: 0;
  justify-content: flex-end;
}
.btnLeft {
  left: 0;
  justify-content: flex-start;
}
.imgContainer {
    display: flex;
    min-height: 100%;
    @include breakpoint('phone') {
        max-width: 50%;
    }
    @include breakpoint('desktop-lg') {
        flex: 1;
        align-items: center;
    }
}
.titlebox {
  margin-bottom: 15px;
}
.title {
  line-height: 60px;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  @include breakpoint('tablet'){
    font-size: 20px;
  }
}
.textContainer {
  padding-inline: 30px;
  @include breakpoint('phone'){
    padding-inline: 10px;
  }
  @include breakpoint('tablet') {
    max-width: 50%;
  }
  @include breakpoint('desktop-lg') {
    padding-inline: 0;
    flex: 1;
    height: 450px;
    h2 {
    max-width: 130px;
    }
    p {
    max-width: 400px;
    font-size: 14px;
    }
  }
  @include breakpoint('desktop-xl'){
    height: 600px;
    h2 {
      max-width: 210px;
    }
    p {
      font-size: 17px;
      letter-spacing: 0.3px;
      line-height: 27px;
    }
  }
}
.paragraph {
  p {
    margin-bottom: 15px;
  }
}