@import './mixins';

.hero {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  & > * {
    flex: 1;
  }
  @include breakpoint('desktop-lg'){
    margin-top: -60px;
    min-height: 100vh;
  }
}
.heroImg {
  img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    position: relative !important;
    @include breakpoint('tablet'){
      max-height: 35vh;
    }
    @include breakpoint('desktop-lg'){
      width: 380px;
    }
    @include breakpoint('desktop-xl'){
      width: 470px;
    }
  }
}

.heroTitle {
  flex-grow: 1;
  display: flex;
  text-align: center;
  padding-inline: 20px;
  
  & h1 {
    font-size: 60px;
    line-height: 62px;
    margin: auto;
    flex-basis: 240px;
    @include breakpoint('phone'){
      flex-basis: auto;
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 6px;
    }
    @include breakpoint('desktop-lg'){
      font-size: 90px;
      letter-spacing: 10px;
    }
    @include breakpoint('desktop-xl'){
      font-size: 100px;
    }
  }
}
.heroImgUp {
  flex-grow: 2;
  width: 100%;
  img {
    object-fit: cover;
  }
  
  @include breakpoint('desktop-lg') {
    display: flex;
    justify-content: right;
    z-index: 10;
    & img {
      aspect-ratio: 7/5;
      margin-right: 130px;
      position: relative !important;
      width: auto !important;
    }
  }

  @include breakpoint('desktop-xl') {
    & img {
      max-height: 280px;
    }
  }
}

.heroContainerDown {
  display: flex;
  align-items: flex-end;
  flex-grow: 2;
}

.heroImgDown {
  width: 100%;
  img {
    position: relative !important;
    object-fit: cover;
  }
  @include breakpoint('desktop-lg') {
    max-height: 35vh;
    & img {
      aspect-ratio: 16/9;
      width: auto !important;
    }
  }
}

.heroLogoDown {
  @include breakpoint('tablet') {
    width: 200px;
    margin-right: 100px;
  }
}

