@import './mixins';

.container {
  min-height: calc(100vh - 60px);
  padding: 0;
  @include breakpoint('phone'){
    padding: 0 60px;
  }
  @include breakpoint('tablet'){
    padding: 0 0 0 60px;
  }
}
// ------------ HERO -------------
.hero {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  & > * {
    flex: 1;
  }
}
.heroImg {
  width: 100%;
  height: 100%;
  max-height: 30vh;
  object-fit: cover;
  position: relative;
  @include breakpoint('tablet'){
    width: auto;
    max-height: 35vh;
  }
}

.heroTitle {
  flex-grow: 1;
  display: flex;
  text-align: center;
  padding-inline: 20px;
  
  & h1 {
    font-size: 60px;
    line-height: 62px;
    margin: auto;
    flex-basis: 240px;
    @include breakpoint('phone'){
      flex-basis: auto;
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 6px;
    }
    @include breakpoint('desktop-lg'){
      font-size: 90px;
      letter-spacing: 10px;
    }
    @include breakpoint('desktop-xl'){
      font-size: 100px;
    }
  }
}
.heroImgUp {
  flex-grow: 2;
  width: 100%;
  
  @include breakpoint('tablet') {
    display: flex;
    justify-content: right;
    z-index: 10;
    margin-top: -60px;
    & img {
      aspect-ratio: 7/5;
    }
  }
  
  @include breakpoint('desktop-lg') {
    & img {
      margin-right: 130px;
    }
  }
    @include breakpoint('desktop-xl') {
    & img {
      max-height: 280px;
    }
  }
}

.heroContainerDown {
  display: flex;
  align-items: flex-end;
  flex-grow: 2;
}

.heroImgDown {
  width: 100%;
  @include breakpoint('tablet') {
    & img {
      aspect-ratio: 16/9;
    }
  }
  @include breakpoint('desktop-lg') {
    max-height: 35vh;
  }
}

.heroLogoDown {
  @include breakpoint('tablet') {
    width: 200px;
    margin-right: 100px;
  }
}
// ------------ /HERO -------------

// ------------ ABOUT -------------
.about {
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 30px;
  @include breakpoint('phone') {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  @include breakpoint('desktop-lg') {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100vh;
  padding-top: 80px;
  margin: 0;
  gap: 100px;
  }
}
.aboutImg {
  img {
    aspect-ratio: 6/4;
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
  }
}
.aboutImgDown {
  img {
    width: 100%;
    max-height: 230px;
    aspect-ratio: 3/6;
    object-fit: cover;
  }
  @include breakpoint('desktop-xl'){
    max-height: 350px;
    img {max-height: 350px;}
  }
}
.aboutTextContainer {
  @include breakpoint('phone') {
    width: 50%;
  }
  @include breakpoint('desktop-lg') {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
  }
}
.aboutText {
  padding-inline: 30px;
  & > p:not(:last-child) {
    margin-bottom: 20px;
  }
  @include breakpoint('tablet') {
    margin-bottom: 20px;
  }
  @include breakpoint('desktop-lg') {
    max-width: 420px;
    margin: auto;
    & p {
    font-size: 14px;
    }
  }
  @include breakpoint('desktop-xl') {
    // AGREGAR A TODAS LAS BODY
    & p {
      font-size: 17px;
      letter-spacing: 0.3px;
      line-height: 27px;
    }
  }
}
.aboutLogo {
  width: 120px;
  margin-bottom: 20px;
  fill: var(--mui-palette-text-primary);
  svg {
    width: 100%;
  }
  @include breakpoint('desktop-lg') {
  width: 140px;
  }
}
.aboutLogoImgContainer {
  @include breakpoint('phone') {
    width: 50%;
  }
  @include breakpoint('desktop-xl') {
    display: flex;
    align-items: center;
  }
}

// CONTACT
.contact {
  width: 100vw;
  gap: 30px;
  display: flex;
  flex-direction: column;
  
  @include breakpoint('phone') {
    width: 100%;
    flex-direction: row;
    margin-bottom: 30px;
  }
  
  @include breakpoint('desktop-lg') {
    gap: 0;
    height: calc(100vh - 70px);
    padding-top: 60px;
    margin: 0;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
  }
}

.contactGridItem {
  padding-top: 0;
  width: 100%;

  @include breakpoint('phone') {
    width: 50%;
  }

  @include breakpoint('tablet') {
    display: flex;
  }

  @include breakpoint('desktop-lg') {
    justify-content: center;
  }
}

.contactImg {
  flex-basis: 450px;
  & img {
    aspect-ratio: 1/1;
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
  }
  @include breakpoint('desktop-xl'){
    flex-basis: 600px;
  }
}

.contactTextContainer {
  width: 100%;
  text-align: left;
  height: auto;
  padding-inline: 30px;
  margin-bottom: 20px;

  & p {
    line-height: 24px;
    text-decoration: none;
    color: var(--mui-palette-text-primary);
  }

  @include breakpoint('tablet') {
    max-width: 450px;
    padding-inline: 0;

    & p {
      line-height: 34px;
    }
  }
  @include breakpoint('desktop-xl') {
    max-width: 600px;
    padding-inline: 0;

    & p {
      line-height: 34px;
    }
  }
}

.contactIframeContainer {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  @include breakpoint('tablet') {
    padding-top: 60%;
  }
}
