@import './mixins';

.container {
  min-height: calc(100vh - 60px);
  padding: 0;
  @include breakpoint('phone'){
    padding: 0 60px;
  }
  @include breakpoint('tablet'){
    padding: 0 0 0 60px;
  }
}